
#report_results_table_id {
	text-align: center;
	background-image: url('../images/y.jpg');
	background-repeat: repeat-x;
	border: 1px #bbbbbb solid;
	width: 550px;
	padding: 0px;
}

.report-layout-table {
	border-collapse: collapse;
	width: 100%;
}

.redcase_tree {
	max-height: 400px;
	overflow: auto;
}

.no-border {
	border-width: 0px;
}

.execution-layout-table {
	border-collapse: collapse;
	border: 1px #bbbbbb solid;
	width: 100%;
	height: 450px;
	table-layout: fixed
}

.execution-layout-table h3 select {
	width: 100px;
}

.execution-layout-table h3 {
	border-width: 0px;
}

.execution-layout-table tr td {
	padding: 8px;
	width: 50%;
	border: 1px #cccccc dashed;
	vertical-align: top;
}

.execution-layout-table .last-cell {
	border-right-width: 0px;
}

#execution_test_cases_id h3 {
	display: inline;
}

#execution-settings-suite {
	color: navy;
}

#execution-settings-suite select {
	border: 1px navy solid;
	width: 250px; 
}

#execution-settings-version {
	color: purple;
}

#execution-settings-version select {
	border: 1px purple solid;
	width: 250px;
}

#execution-settings-environment {
	color: maroon;
}

#execution-settings-environment select {
	border: 1px maroon solid;
	width: 250px;
}

#execution_test_case_info_id h3 {
	color: rgb(48, 96, 48);
}

.management-layout-table {
	border-collapse: collapse;
	border: 1px #bbbbbb solid;
	width: 100%;
}

.management-layout-table input[type=text] {
	color: #bbbbbb;
}

.management-layout-table textarea {
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.management-layout-table h3 {
	border-width: 0px;
}

.management-layout-table h3 select {
	width: 150px;
}

#management_execution_suites_id h3 {
	color: maroon;
}

#management_test_suites_id h3 {
	color: navy;
}

#management_execution_suites_id h3 select {
	border: 1px maroon solid;
}

#management_environments_id {
	border-right-width: 0px;
}

#management_environments_id h3 {
	color: purple;
}

#management_environments_id h3 select {
	border: 1px purple solid;
}

.management-layout-table tr {
	vertical-align: top;
}

.management-layout-table tr td {
	padding: 8px;
	width: 33%;
	border: 1px #cccccc dashed;
}

.no_underline:hover {
	text-decoration: none;
}

.rc-link {
	display: inline-table;
}

.rc-link-tr {
	padding: 0px;
	margin: 0px;
}

.rc-link-tr td {
	padding: 1px;
	margin: 1px;
}

.rc-link-tr td img {
	background: url("../images/save.png");
}

/*
.rc-link-tr:hover td img {
	background: url("../images/save_on.png");
}
*/

.test {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, начиная с 1999 года */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.redcase-row a {
	color: inherit;
}

.redcase-row a:visited {
	color: inherit;
}

.graph div {
	border: 1px #bbbbbb solid;
	background-color: white;
}

.y-back {
	background-image: url('../images/y.jpg');
	background-repeat: repeat-x;
}

.back {
	background-image: url('../images/b.jpg');
	background-repeat: repeat-x;
}

.tabular p {
	padding: 5px;
}

.x-tree-node-leaf .x-tree-node-icon.in-progress {
	background-image: url('../images/1.png') ;
}

.x-tree-node-leaf .x-tree-node-icon.others {
	background-image: url('../images/2.png') ;
}

.redcase-row {
	border-collapse: collapse;
}

.redcase-row tr {
	margin: 0px;
	paddig: 0px;
}

.redcase-row td {
	border: 1px #bbbbbb solid;
	margin: 0px;
	paddig: 0px;
}

.redcase-header {
	font-size    : inherit;
	font-weight  : bold;
	/* color        : #2A5685; */
	color        : #507aaa;
}

.redcase-content {
	border-color : #bbbbbb;
	overflow     : auto;
	height       : 450px;
	/* width        : 100%; */
	/* border       : 1px #bbbbbb solid; */
	/* margin-top   : 0px; */
	padding      : 8px;
	margin       : 2px;
}

td .x-tree-node {
	font-family  : inherit;
	font-size    : inherit;
}

.x-panel-header {
	font-family  : inherit;
	font-size    : inherit;
	color        : white;
	background   : #507aaa;
	text-align   : center;
	border-width : 0px;
}

.x-panel-body {
	border-color : #bbbbbb;
}

.x-tip .x-tip-tc, .x-tip .x-tip-tl, .x-tip .x-tip-tr, .x-tip .x-tip-bc, .x-tip .x-tip-bl, .x-tip .x-tip-br, .x-tip .x-tip-ml, .x-tip .x-tip-mr {
	background: #FFFFDD;
}

.x-tip {
	border: 1px #bbbbbb solid;
}

code {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, начиная с 1999 года */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, начиная с 1999 года */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.x-tip-header * {
	font-size: 12px;
}

.x-tip-header {
	font-size: 12px;
}

.x-tip .x-tip-header-text {
	font-size: 12px;
}

.x-tip .x-tip-body {
	font-size: 12px;
}

.x-tip-body * {
	font-size: 12px;
}

.x-tip-body {
	font-size: 12px;
	white-space: pre-line; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, начиная с 1999 года */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.x-tip-body ol {
	padding-left: 40px;
	-moz-padding-start: 40px;
	display :block;
	margin: 1em 0;
	list-style-type: decimal;
}

.x-tip-body ul {
	padding-left: 40px;
	-moz-padding-start: 40px;
	display: block;
	margin: 1em 0;
	list-style-type: disc;
}

.x-tip-body b {
	font-weight:bolder;
}

.x-tip-body strong {
	font-weight:bolder;
}

.x-tip-body i {
	font-style:italic;
}

.x-tip-body em {
	font-style:italic;
}

.wiki ol {
	padding-left:40px;
	-moz-padding-start:40px;
	display:block;
	margin:1em 0;
	list-style-type:decimal;
}

.wiki ul {
	padding-left:40px;
	-moz-padding-start:40px;
	display:block;
	margin:1em 0;
	list-style-type:disc;
}

.wiki b {
	font-weight:bolder;
}

.wiki strong {
	font-weight:bolder;
}

.wiki i {
	font-style:italic;
}

.wiki em {
	font-style:italic;
}

a:hover img {
	text-decoration:none;
}

.ext-ie UL.x-tree-node-ct {
	line-height:inherit;
	font-size:inherit;
}

.testcase-result-icon-Passed {
	background-image: url(../images/Passed.png) !important;
}

.testcase-result-icon-Failed {
        background-image: url(../images/Failed.png) !important;
}

.testcase-result-icon-none {
        background-image: url(../images/none.png) !important;
}

.testcase-result-icon-Blocked {
        background-image: url(../images/Blocked.png) !important;
}

.testcase-result-icon-NotAvailable {
        background-image: url(../images/NotAvailable.png) !important;
}



