
<script>
		jQuery2(function() {
		// Collecting information about other projects (to copy test cases)...
<% if false %>		
<% for op in @other_projects %>
		//Redcase.jsCopyToMenuItems.push({id: '<%= op.id %>', text: '<%= op.name.gsub(/'/, "\\\\'") %>', handler: onCopyTo});
<% end %>
<% end %>	
	});
</script>

<!-- "Management" tab view -->
<table class="management-layout-table">

    <tr>

        <!-- Test suites management -->
        <td id="management_test_suites_id">
            <h3><%= l('label_test_suites') %></h3>			
            <div id="management_test_suite_tree_id" class="redcase_tree" />
        </td>

        <!-- Execution suites management -->
        <td>
            <div id="management_execution_suites_id">
				<%= render :partial => 'management_execution_suites' %>
            </div>
            <div id="management_execution_suite_tree_id" class="redcase_tree"/>				
        </td>

        <!-- Test environments management -->
        <td id="management_environments_id">
			<%= render :partial => 'management_environments', :locals => { :project => @project, :environment => @environment } %>
        </td>

    </tr>

</table>
