<%= form_tag({ :controller => 'redcase/export', :action =>  :index, :export_to => :excel, :project_id => @project.id, :time => Time.now, :environment_id => @environment.id, :version_id => @version.id, :suite_id => get_id_or_default(@execroot, -1)}) do %>
    <%= link_to image_tag('report.png', :plugin => 'redcase', :size => '95x36', :style => 'vertical-align: middle'),
                { :controller => 'redcase/export', :action =>  :index, :export_to => :excel, :project_id => @project.id, :time => Time.now, :environment_id => @environment.id, :version_id => @version.id, :suite_id => get_id_or_default(@execroot, -1) },
                { :class => 'no_underline', :submit => 'spec_id' } %>
<% end %>
