
<% content_for :header_tags do %>

	<!-- Redmine -->
	<%= stylesheet_link_tag 'application' %>
	<!-- Redcase -->
	<%= stylesheet_link_tag 'styles', :plugin => 'redcase' %>	
	<!-- jstree -->
	<%= stylesheet_link_tag '../javascripts/jstree/themes/default/style.min.css', :plugin => 'redcase' %>	

	<!-- Flash chart -->
	<%= javascript_include_tag 'swfobject', :plugin => 'redcase' %>
	<!-- jQuery 2 -->
	<%= javascript_include_tag 'jquery 2.1.3/jquery-2.1.3.min.js', :plugin => 'redcase' %>
	<!-- jstree -->
	<%= javascript_include_tag 'jstree/jstree.min.js', :plugin => 'redcase' %>
<script type="text/javascript">
  // NonConflict jQuery
  var jQuery2 = $.noConflict(true);
  
</script>  	    	
	<!-- Redcase -->
	<%= javascript_include_tag 'logging', :plugin => 'redcase' %>
	<%= javascript_include_tag 'api', :plugin => 'redcase' %>
	<%= javascript_include_tag 'main', :plugin => 'redcase' %>
	<%= javascript_include_tag 'TestSuiteTree', :plugin => 'redcase' %>
	<%= javascript_include_tag 'ExecutionSuiteTree', :plugin => 'redcase' %>
	<%= javascript_include_tag 'ExecutionTree', :plugin => 'redcase' %>
	<%= javascript_include_tag 'Environments', :plugin => 'redcase' %>
	<%= javascript_include_tag 'Combos', :plugin => 'redcase' %>

<% end %>

<script type="text/javascript">
	// Project identifier
	jsProjectId = <%= @project.id %>;
	// User access rights
	jsCanEdit = <%= User.current.allowed_to?(:edit_test_cases, @project) != false %>;
</script>

<% html_title "Test cases" %>

<h2>Test cases
    <!-- Temporary plugin version output (only for testing) -->
    <span style="color: gray">
        (Plugin version: <%= Redmine::Plugin.all.detect { |x| x.name == 'Redcase' }.version %>)
    </span>
</h2>

<% if @version.nil? then %>
	<div style="color: #bbbbbb; text-align: center">
		(There are no <b>versions</b> for this project. If you need to execute test cases please create one...)
	</div>
<% end %>

<!-- Creating plugin inner tabs -->
<%= render_tabs get_plugin_tabs(@project) %>

<div id="redcase-dialog" style="display: none">
	<label for="name">Name:</label>
	<input type="text" name="redcase-dialog-value" id="redcase-dialog-value" class="text ui-widget-content ui-corner-all">
</div>
<div id="redcase-error" style="display: none" title="Error">
	<p id="redcase-error-message" />
</div>